<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @code.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @code.code_lang %>
</p>

<p>
  <strong>Body:</strong>
  <%= @code.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @code.category_id %>
</p>

<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
