<strong>Title:</strong>
<%= @code.title %>
<strong>Type:</strong>
<%= @code.code_lang %>

<%= button_tag "Run", id: "btn_run", data_id: @code.id%>
<div class="container">
  <div class="row">
    <div class="col-6">
        <%= text_area :code, :code, id: "code_id" %>
    </div>
    <div class="col-6">
      <iframe title="result" className="iframe" id="iframe"></iframe>
    </div>
  </div>
</div>
<div class="container">
  <%= link_to 'Edit', edit_code_path(@code) %> |
  <%= link_to 'Back', codes_path %>
</div>

<%= javascript_pack_tag 'code_preview' %>

<% content_for :javascript do %>
  <script type="text/javascript">
    console.log("Loaded...");
    
  </script>
<% end %>



