<strong>Title:</strong>
<%= @code.title %>
<strong>Type:</strong>
<%= @code.code_lang %>
<div class="container">
  <div class="row">
    <div class="col-6">
        <%= text_area :code, :code, id: "code_id" %>
    </div>
    <div class="col-6">
      <iframe title="result" className="iframe" ref="iframe" />
    </div>
  </div>
</div>
<div class="container">
  <%= link_to 'Edit', edit_code_path(@code) %> |
  <%= link_to 'Back', codes_path %>
</div>

